/* font-family: 'Kanit', sans-serif;
font-family: 'Space Mono', monospace; */
:root {
  --main-background-color: #fcf8e8;
  --border-btn: 1px solid #94b49f;
  --padding-btn: 0.5rem 1rem;
  --paragraph-color-text: #4b4848;
  --footer-color: rgba(223, 120, 97, 0.37);
  --hover-link-color: #94b49f;
  --visited-color: #76549a;
  --hover-btn: #df7861;
}

* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  padding: 0 3% 0;
}

h1,
h2,
h4 {
  font-family: "Kanit", sans-serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  color: #666363;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  color: #000000;
}

h5 {
  font-family: "Space Mono", monospace;
  color: var(--hover-btn);
}

p {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  line-height: 169.5%;
  letter-spacing: 0.03em;
  color: var(--paragraph-color-text);
}

/* Navbar */
.navbar {
  font-family: "Space Mono", monospace;
  padding: 8px 6% 8px;
}

.btn-designed {
  border: var(--border-btn);
  border-radius: 0;
  padding: var(--padding-btn);
  transition: 0.8s;
}

.btn-designed:hover {
  border: 1px solid var(--hover-btn);
}

/* Content */
.box {
  border: 1px solid #000;
  background-color: var(--main-background-color);
}

.container {
  height: fit-content;
  padding: 14% 8% 0;
}

/* second block */
.second-block {
  width: 80%;
  margin: 10rem auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1.5rem;
}

.second-block p {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}

/* Projects */
.projects {
  margin-bottom: 10rem;
}

.project-content p span {
  margin-right: 2rem;
}

/* Contacts */
.contact {
  margin: 0 auto 10rem;
  width: 60%;
}

/* Footer */
footer {
  background-color: var(--footer-color);
  height: fit-content;
}

footer a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  color: var(--paragraph-color-text);
  transition: color 0.5s;
}

footer a:hover {
  color: var(--hover-link-color);
}

footer a:visited {
  color: var(--visited-color);
}

.icons a i {
  font-size: 2rem;
  margin: 0 1rem 1rem;
  color: #000;
  transition: color 0.5s;
}

.icons a i:hover {
  color: var(--hover-link-color);
  cursor: pointer;
}

/* About page */
.content-about-hide {
  margin-bottom: 5rem;
}

/* responsive */
@media (max-width: 576px) {
  body {
    padding: 0;
  }

  h1 {
    font-size: 2.8rem;
    line-height: 1;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1rem;
  }

  .box {
    border: none;
  }

  .second-block {
    width: 100%;
  }

  .projects,
  .contact {
    margin-bottom: 5rem;
  }

  .contact {
    width: 90%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
    line-height: 1;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1rem;
  }
  .projects,
  .contact {
    margin-bottom: 5rem;
  }

  .contact {
    width: 90%;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.3em;
  }

  h3 {
    font-size: 1.5rem;
  }
}
